*{margin:0;padding:0;box-sizing:border-box}
body { font-family: 'Open Sans', sans-serif; font-weight:400;} 
.fix{overflow: hidden;}

.col-12{
	
margin: auto;
width: 1170px;
}

.column{
	
margin: auto;
width: 1170px;
}
.col-lg-12{width:1330px;margin: auto;}
.col-4{width:25%;float:left}
.col-2{width:50%;float:left}
.col-5{width:25%}
.col-8{width:80%}
.row {
	width: 1100px;
	
}


/* main header */
.main-header-area {
	min-height: 112px;
	background: #bbfff9;
}
.column-mid {
	margin: 0px 100px;
	width: 1100px;
}

/* log css */
.logo{
	float:left;
	margin-top:30px}
 .logo a{ } 
 
 /* menu css */
 
 .menu {
 float: right;}
.menu ul {list-style: outside none none;}

.menu ul li {	
display: inline-block;
}

.menu ul li a {
	color: #484c55;
	display: block;
	font-size: 20px;
	padding: 45px 20px;
	text-decoration: none;
	transition: .3s;
	position: relative;
	text-transform: uppercase;
	font-weight: bold;
}


.menu ul li a::before{
background: #49cbcd none repeat scroll 0 0;
bottom: 0;
 content: "";
 height: 3px; 
 left: 0; 
 opacity: 0; 
 position: absolute;
 transition: all 0.3s ease Os; 
width: 0;
}
.menu ul li a:hover{background: #F8F9FB;color:#49cbcd}
.menu ul li a:hover:before{ opacity:1;width:100%}
.menu ul li a:after {
background: #49cbcd; 
bottom: 0; 
content: "";
height: 3px; 
position: absolute;
right: 0;
 transition: all 0.3s ease Os;
 width: 0;
 opacity: 0;}
.menu ul li a:hover:after { opacity:1;width:50%} 
.menu ul li a:hover{background: #F8F9FB;color:#49cbcd}
.menu ul li a:hover:before { opacity:1;width:50%}

/*====================slider css*/
.slider-area {
	height: 350px;
	background: red;
}
.single-slider{position:relative;
height:300px
}
.slider-text {
	position: absolute;
	top:  50%;
	right: 0;
	left: 0;
	text-align: center;
	text-transform: uppercase;
	transform:translateY(-50%);
	
}
.slider-img {
	display: inline-block;
}
.slider-img img{width:100%}
.slider-text hl {
color: #fff; 
font-size: 63px; 
font-weight: 600; 
line-height: 58px;
 margin-bottom: 45px;
}
.slider-text p{
color: #fff; font-size: 23px; line-height: 40px; margin-bottom: 65px;}
.slider-text a {
border: 3px solid #fff;
 border-radius: 5px; color: #fff;
 font-size: 26px; font-weight: 600;
padding: 22px 40px; text-decoration: none;}


/*=======================button css*/

.owl-carousel .owl-nav button.owl-prev span {
	width: 40px;
	background: #13ecec;
	height: 40px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
	line-height: 40px;
	left: 20px;
	border-radius: 50%;
	font-size: 34px;
	color: #fff;
}

.owl-carousel .owl-nav button.owl-next span {
	width: 43px;
	background: #39ffe3;
	height: 40px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
	line-height: 35px;
	/* float: right; */
	/* left: 0; */
	right: 20px;
	border-radius: 50%;
	font-size: 34px;
	color: #fff;
}

/*=======================service area css*/
.service-area {
	margin: 100px 0px;
	
}
.service-info {
	text-align: center;
}

.service-icon i{
	font-size: 50px;
	color: #ee0a0a;
	border-radius: 50%;
	width: 100px;
	height: 100px;
	border: 2px solid #1ce1cf;
	line-height: 100px;
	text-align: center;
	margin-bottom: 30px;
}
.service-icon {
	text-align: center;
}
.service-info .link-btn{text-align: center;}
.service-info h1 {
	text-align: center;
	color: #1bdb8a;
	text-transform: uppercase;
	font-size: 20px;
	margin-bottom: 20px;
}
.service-info p {
	font-size: 20px;
	line-height: 20px;
	padding: 5px;
	color: red;
	margin-bottom: 30px;
}
.link-btn a{}
.link-btn {
	background: #46f0c8;
	padding: 10px 20px;
	text-align: center;
	border-radius: 3px;
	text-decoration: none;
	margin-bottom: 30px;
	display: inline-block;
	color: #fff;
}
.link-btn:hover {
	background:red;
	color:#fff;
	transition:.3s;
	
}



/* pricing-table-area */
.btn{
	background: #495151;
	padding: 14px 48px;
	border-radius: 3px;
	color: #fff;
	text-decoration: navajowhite;
	font-weight: bold;
	
}
.price-pro{
	background:#59f9e2
}
.price-btn {
	background: #495151;
	padding: 14px 48px;
	border-radius: 3px;
	color: #fff;
	text-decoration: navajowhite;
	font-weight: bold;
	transition: .3s;
}
.price-btn:hover{background:#59f9e2}
.text-center{text-align: center;}
.col-3 {
	width: 33%;
	float: left;
}
.single-pricing {
	box-shadow: 2px 9px 16px rgba(11, 11, 11, 0.15);
	margin-right: 20px;
}
 .single-pricing h2{
background: #485460 none repeat scroll 0 0;
 color: #fff;
 font-size: 26px;
 font-weight: 400;
 line-height: 26px;
 padding: 30px 0;
 
 }
.single-pricing span {
background: #f8f9fb none repeat scroll 0 0; 
color: #485460; 
display: block;
font-size: 20px; 
line-height: 22px;
 padding: 22px 0;
}
 
.single-pricing ul{ } 
.single-pricing ul li { }

.pricing-buy { background: #f8f9fb none repeat scroll 0 0; padding: 30px 0;}
.pric-btn{
background: #788492 none repeat scroll 0 0;
 padding: 10px 50px;
 }
.pric-btn:hover {
background: #49CBCD none repeat scroll 0 0;

}
h2.paste-bg {background: #49CBCD 

}
.paste-bg {background: #49CBCD

}
a.paste-bg:hover {background: #788492

}

.bg-color{background:#e3e1e1}
.pad-100{padding:100px 0px}

.single-pricing ul {
background: #fff none repeat scroll 0 0; list-style: outside none none;}
.single-pricing ul li {
border-bottom: 1px solid #ecf0f1; color: #8c9299; font-size: 14px; line-height: 45px;}

/* .single-pricing ul li:nth-child(odd) {background: red} 
.single-pricing ul li:nth-child(even) {background: green} */ 

.single-pricing ul li:first-child{background: #ffd9de} 
.single-pricing ul li:last-child{background:#d9ffff}




.testimonial-area {}
.single-testimonial{}
.single-testimonial h2{
	color:block;
font-size:30px;
line-height:30px;
margin-bottom:45px;
font-size:20px;
line-height:20px;

}
.single-testimonial p {
	line-height: 23px;
	margin-bottom: 20px;
}
.single-testimonial span {
	margin-top: 40px;
	text-transform: uppercase;
	font-size: 17px;
	font-weight: bold;
}


/*==========footer css*/
.footer-bg {
	/* background-image: url("../img/slider5.jpg"); */
	background-color: #0f0f0f;
}
.contact-info{}
.text-white{}
.text-white  {
	margin-bottom: 40px;
	text-transform: uppercase;
	font-size: 47px;
	color: white;
}
.contact-info h3 {
	color: #fff;
	font-size: 19px;
	text-transform: uppercase;
	margin-bottom: 11px;
}
.contact-info p {
	line-height: 20px;
	margin-bottom: 20px;
	font-weight: 400;
	color: #fff;
}
.social-icon{margin-top:40px}
.social-icon a {
	width: 30px;
	display: inline-block;
	font-size: 30px;
	border-radius: 50%;
	height: 30px;
	color: #;
	margin-right: 14px;
	line-height: 30px;
	margin-bottom: 20px;
	
	color: #fff;
}
.social-icon a.twiter{}
.social-icon a.google{}
.address {
	line-height: 30px;
	font-size: 20px;
	color: #fff;
}
.address ul{}
.address ul li{}

.input-field {
	float: left;
	width: 50%;
	margin-bottom: 20px;
}
.input-field textarea{}
.input-field input {
	padding: 10px 10px;
	cursor: pointer;
	width: 98%;
}
.input-field button{}
.msg-box button {
	float: right;
	padding: 14px 54px;
	color: #ffff;
	background: rd;
	font-size: 36px;
	background: #198597;
	width: 100%;
	cursor: pointer;
	text-transform: uppercase;
	font-weight: bold;
	margin-top: 20px;
}
.msg-box textarea {
	padding: 10px 20px;
	width: 100%;
}

.single-team-body{}
.single-team {
	background: #fbf2f2;
	margin-right: 15px;
	padding: 34px 22px;
	
}
.team-img {
	text-align: center;
}
.team-img img {
	width: 120px;
	border-radius: 50%;
	height: 120px;
	text-align: center;
	margin-bottom: 30px;
}
.team-img a{position:relative;display:block}
.team-img a::before {
	width: 120px;
	height: 120px;
	content: "";
	position: absolute;
	background: red;
	display: inline-block;
	border-radius: 50%;
	opacity: .5;
	transform: scale(0);
	transition: .5s;
}
.team-img a::after {
	content: "\2b";
	left: 0;
	right: 0;
	top: 40%;
	opacity: 0;
	font-size: 30px;
	font-family: fontawesome;
	position: absolute;
	color: red;
	
	transform: scale(1);
	transition: all .3s;
}
.single-team:hover .team-img a::before {transform:scale(1)}
.single-team:hover .team-img a::after {transform:scale(2);opacity:1}
.team-info{}
.team-info span {
	color: #938d8d;
	font-size: 19px;
	text-transform: uppercase;
	font-weight: 50x;
	padding: 9px 17px;
	display: inline-block;
}
.team-info p{}
.team-name{}
.team-name h3 {
	text-transform: uppercase;
}
.team-name h3{}
.team-name span{}
